@inherits LayoutComponentBase

<div>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink> |
    <NavLink class="nav-link" href="fastgrid">FastGrid</NavLink> |
    <NavLink class="nav-link" href="complextable">ComplexTable</NavLink>
</div>

<div>
    @Body
</div>
